<div style="display: flex; width: 100%">
  <div class="theme-containers">
    <div class="theme-primary" [style.background-color]="themeModel?.palette?.primary?.main"></div>
    <div class="sub-theme-primary" [style.background-color]="subThemeModel?.palette?.primary?.main"></div>
    <div class="sub-theme-accent" [style.background-color]="subThemeModel?.palette?.accent?.main"></div>
    <div class="theme-background" [style.background-color]="themeModel?.palette?.lightBackground"></div>
    <div class="theme-accent" [style.background-color]="themeModel?.palette?.accent?.main"></div>
  </div>
  {{theme.name}}
  <div class="spacer"></div>
  <button style="width: 30px; height: 30px;" mat-icon-button (click)="editClicked($event)">
    <mat-icon>edit</mat-icon>
  </button>
</div>
