@import "../../../material-helper";
@import "../../../sizes";
@mixin theme($theme){
  footer{
    &.mat-primary{
      background: getColor($theme, primary, default);
      color: getColor($theme, primary, main-contrast);
    }
    &.mat-accent{
      background: getColor($theme, accent, default);
      color: getColor($theme, accent, main-contrast);
    }
    &.mat-warn{
      background: getColor($theme, warn, default);
      color: getColor($theme, warn, main-contrast);
    }
  }
}
