@use "sass:map";
@use '~@angular/material' as mat;
@mixin getStyle($color, $secondColor){
  header {
    @if ($color != null) {
      background: $color;
    }
    padding: 1rem;
  }
  section{
    padding: 1rem;
  }
  footer{
    @if ($secondColor != null) {
      background: $secondColor;
    }
    padding: 1rem;
  }
}
@mixin theme($theme){
  $config: mat.get-color-config($theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $bgColorPrimary: mat.get-color-from-palette($primary, default);
  $fgColorPrimary: mat.get-color-from-palette($primary, main-contrast);
  $bgColorAccent: mat.get-color-from-palette($accent, default);
  $fgColorAccent: mat.get-color-from-palette($accent, main-contrast);
  $bgColorWarn: mat.get-color-from-palette($warn, default);
  $fgColorWarn: mat.get-color-from-palette($warn, main-contrast);
  app-widget{
    &>div {
      @include getStyle(null, null);
      &.mat-primary {
        @include getStyle($bgColorPrimary, $bgColorAccent);
      }

      &.mat-accent {
        @include getStyle($bgColorAccent, lighten($bgColorAccent, 5%));
      }

      &.mat-warn {
        @include getStyle($bgColorWarn, lighten($bgColorPrimary, 25%));
      }
    }
  }
}
