@use "sass:map";
@use '~@angular/material' as mat;
@import '../../../../../src/material-helper';
@mixin getStyle($color, $secondColor){
  header {
    @if ($color != null) {
      background: $color;
    }
    padding: 1rem;
  }
  section{
    padding: 1rem;
  }
  footer{
    @if ($secondColor != null) {
      background: $secondColor;
      color: $color;
    }
    padding: 1rem;
  }
}
@mixin theme($theme, $colors){
  app-widget{
    &>div {
      @each $color in $colors {
        &.mat-#{$color} {
          @include getStyle(getColor($theme, $color, default), getColor($theme, $color, main-contrast));
        }
      }
    }
  }
}
