<mat-card class="mat-elevation-z3">
  <mat-toolbar color="primary">
    <button mat-button>This ia a button</button>
  </mat-toolbar>
  <mat-toolbar color="accent">
    <button mat-button>This ia a button</button>
  </mat-toolbar>
  <mat-form-field>
    <mat-label>Select a color</mat-label>
    <mat-select style="text-transform: capitalize" [(ngModel)]="color" placeholder="Color">
      <mat-option style="text-transform: capitalize" *ngFor="let color of selectedTheme?.colors" [value]="color">{{color}}</mat-option>
    </mat-select>
  </mat-form-field>
  <app-widget [color]="color"></app-widget>
  <h1>Qui igitur convenit ab alia voluptate dicere naturam proficisci, in alia summum bonum ponere?</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sedulo, inquam, faciam. Teneo, inquit, finem illi videri
    nihil dolere. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Duo Reges: constructio interrete. </p>

  <p>Videamus animi partes, quarum est conspectus illustrior; Compensabatur, inquit, cum summis doloribus laetitia. Id
    enim natura desiderat. Occultum facinus esse potuerit, gaudebit; In schola desinis. Dat enim intervalla et
    relaxat. </p>

  <p>Quamquam te quidem video minime esse deterritum. Quis istud, quaeso, nesciebat? Sed virtutem ipsam inchoavit, nihil
    amplius. Nobis aliter videtur, recte secusne, postea; Istam voluptatem, inquit, Epicurus ignorat? </p>

  <h2>Quo modo autem philosophus loquitur?</h2>

  <p>Laboro autem non sine causa; Occultum facinus esse potuerit, gaudebit; Certe, nisi voluptatem tanti aestimaretis.
    Peccata paria. Quare attende, quaeso. Quam si explicavisset, non tam haesitaret. Vide, quantum, inquam, fallare,
    Torquate. Quid enim possumus hoc agere divinius? </p>
  <h2>Quo modo autem philosophus loquitur?</h2>

  <h1>Qui igitur convenit ab alia voluptate dicere naturam proficisci, in alia summum bonum ponere?</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sedulo, inquam, faciam. Teneo, inquit, finem illi videri
    nihil dolere. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Duo Reges: constructio interrete. </p>

  <p>Videamus animi partes, quarum est conspectus illustrior; Compensabatur, inquit, cum summis doloribus laetitia. Id
    enim natura desiderat. Occultum facinus esse potuerit, gaudebit; In schola desinis. Dat enim intervalla et
    relaxat. </p>

  <p>Quamquam te quidem video minime esse deterritum. Quis istud, quaeso, nesciebat? Sed virtutem ipsam inchoavit, nihil
    amplius. Nobis aliter videtur, recte secusne, postea; Istam voluptatem, inquit, Epicurus ignorat? </p>

  <h2>Quo modo autem philosophus loquitur?</h2>

  <p>Laboro autem non sine causa; Occultum facinus esse potuerit, gaudebit; Certe, nisi voluptatem tanti aestimaretis.
    Peccata paria. Quare attende, quaeso. Quam si explicavisset, non tam haesitaret. Vide, quantum, inquam, fallare,
    Torquate. Quid enim possumus hoc agere divinius? </p>
  <h2>Quo modo autem philosophus loquitur?</h2>

  <h1>Qui igitur convenit ab alia voluptate dicere naturam proficisci, in alia summum bonum ponere?</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sedulo, inquam, faciam. Teneo, inquit, finem illi videri
    nihil dolere. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Duo Reges: constructio interrete. </p>

  <p>Videamus animi partes, quarum est conspectus illustrior; Compensabatur, inquit, cum summis doloribus laetitia. Id
    enim natura desiderat. Occultum facinus esse potuerit, gaudebit; In schola desinis. Dat enim intervalla et
    relaxat. </p>

  <p>Quamquam te quidem video minime esse deterritum. Quis istud, quaeso, nesciebat? Sed virtutem ipsam inchoavit, nihil
    amplius. Nobis aliter videtur, recte secusne, postea; Istam voluptatem, inquit, Epicurus ignorat? </p>

  <h2>Quo modo autem philosophus loquitur?</h2>

  <p>Laboro autem non sine causa; Occultum facinus esse potuerit, gaudebit; Certe, nisi voluptatem tanti aestimaretis.
    Peccata paria. Quare attende, quaeso. Quam si explicavisset, non tam haesitaret. Vide, quantum, inquam, fallare,
    Torquate. Quid enim possumus hoc agere divinius? </p>
  <h2>Quo modo autem philosophus loquitur?</h2>

  <h1>Qui igitur convenit ab alia voluptate dicere naturam proficisci, in alia summum bonum ponere?</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sedulo, inquam, faciam. Teneo, inquit, finem illi videri
    nihil dolere. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Duo Reges: constructio interrete. </p>

  <p>Videamus animi partes, quarum est conspectus illustrior; Compensabatur, inquit, cum summis doloribus laetitia. Id
    enim natura desiderat. Occultum facinus esse potuerit, gaudebit; In schola desinis. Dat enim intervalla et
    relaxat. </p>

  <p>Quamquam te quidem video minime esse deterritum. Quis istud, quaeso, nesciebat? Sed virtutem ipsam inchoavit, nihil
    amplius. Nobis aliter videtur, recte secusne, postea; Istam voluptatem, inquit, Epicurus ignorat? </p>

  <h2>Quo modo autem philosophus loquitur?</h2>

  <p>Laboro autem non sine causa; Occultum facinus esse potuerit, gaudebit; Certe, nisi voluptatem tanti aestimaretis.
    Peccata paria. Quare attende, quaeso. Quam si explicavisset, non tam haesitaret. Vide, quantum, inquam, fallare,
    Torquate. Quid enim possumus hoc agere divinius? </p>
  <h2>Quo modo autem philosophus loquitur?</h2>

</mat-card>
