<mat-drawer-container class="main-container"
                      autosize
                      [class.is-icon-menu]="isIconMenu"
                      [class.mat-drawer-closed]="!sidenavContainer.opened"
                      [class.mat-drawer-open]="sidenavContainer.opened">
  <mat-drawer class="mat-secondary"
              (openedChange)="menuToggleOpen($event)"
              #sidenavContainer
              [mode]="menuLayout"
              [opened]="opened">
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenavContainer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-list>
      <mat-nav-list>
        <ng-content select="[menu]"></ng-content>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="ps">
    <mat-toolbar class="mat-elevation-z6">
      <button *ngIf="!isIconMenu && !sidenavContainer.opened" mat-button (click)="sidenavContainer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-content select="[leftHeader]"></ng-content>
      <div class="spacer"></div>
      <ng-content select="[rightHeader]"></ng-content>
      <button mat-button [mat-menu-trigger-for]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #userMenu>
        <ng-container *ngIf="themes.length>1 && showThemes">
          <button mat-menu-item *ngFor="let theme of themes" [class.active]="theme == (selectedTheme$ | async)"
                  (click)="setTheme(theme)" style="text-transform: capitalize">
            <theme-thumbnail [theme]="theme"></theme-thumbnail>
          </button>
        </ng-container>
        <div mat-menu-item *ngIf="showDarkMode">
          <mat-slide-toggle [(ngModel)]="darkMode">Dark Mode</mat-slide-toggle>
        </div>
        <mat-divider *ngIf="(themes.length>1 && showThemes) || showDarkMode"></mat-divider>
        <ng-content select="[profileMenu]"></ng-content>
      </mat-menu>
    </mat-toolbar>
    <div class="scrollable ps">
      <div #innerTheme class="innerTheme">
        <ng-content></ng-content>
      </div>
      <footer class="mat-elevation-z2">
        <ng-content select="[footer]"></ng-content>
      </footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
