@import "../../../../../src/sizes";
$header-height: 64px;
$small-header-height: 57px;
:host {
  display: block;
  box-sizing: border-box;
  height: 100%;

  .main-container {
    transition: ease-in-out 250ms;
    height: 100%;
  }

  mat-drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;


    .innerTheme {
      padding: 1rem;
    }

    mat-toolbar {
      min-height: 64px;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    footer {
      margin: 0;
      padding: 1rem;
      flex: 1 1 auto;
      min-height: 32px;
      line-height: 32px;
    }
  }
}
