<div *ngIf="isOpen || !isIconMenu" [style.padding-left.rem]="level == 1? (level * .5) + 2: level * .5">
  <mat-accordion class="mat-secondary">
    <ng-container *ngFor="let menuItem of menu">
      <a [routerLink]="[basePath, menuItem.path]" mat-menu-item *ngIf="!menuItem.children?.length">
        <mat-icon *ngIf="menuItem.icon">{{menuItem.icon}}</mat-icon>
        <span>{{menuItem.title}}</span>
      </a>
      <mat-expansion-panel *ngIf="menuItem.children?.length">
        <mat-expansion-panel-header>
          <a [routerLink]="[basePath, menuItem.path]" mat-menu-item>
            <mat-icon *ngIf="menuItem.icon">{{menuItem.icon}}</mat-icon>
            <span>{{menuItem.title}}</span>
          </a>
        </mat-expansion-panel-header>
        <app-menu *ngIf="menuItem.children?.length"
                  [isOpen]="isOpen"
                  [isIconMenu]="isIconMenu"
                  [menu]="menuItem.children"
                  [basePath]="basePath + menuItem.path + '/'"
                  [level]="level + 1"></app-menu>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
<div *ngIf="!isOpen && isIconMenu">
  <ng-container *ngFor="let menuItem of menu">
    <a [routerLink]="[basePath, menuItem.path]" mat-menu-item *ngIf="!menuItem.children?.length">
      <mat-icon *ngIf="menuItem.icon">{{menuItem.icon}}</mat-icon>
    </a>
    <ng-container *ngIf="menuItem.children?.length">
      <a [routerLink]="[basePath, menuItem.path]"
         mat-menu-item
         [matMenuTriggerFor]="subMenu">
        <div style="display: flex; padding: .75rem 0">
          <mat-icon *ngIf="menuItem.icon">{{menuItem.icon}}</mat-icon>
          <div class="spacer"></div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </a>
      <mat-menu #subMenu xPosition="after" yPosition="below" [overlapTrigger]="true" class="offsetMenu">
        <app-sub-menu [menu]="menuItem.children"></app-sub-menu>
      </mat-menu>
    </ng-container>
  </ng-container>
</div>
